.hero {
  position: relative;
  z-index: 1;
  margin-top: -28px;
  padding: 70px 20px 40px;
  color: var(--color-text-contrast);
  text-align: center;
  background-color: var(--color-main-900);
  background-image: url('./hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.hero svg {
  display: block;
  width: 36px;
  height: auto;
  margin: 0 auto 5px;
}

.recipes {
  padding: 30px 20px 25px;
}

.recipes-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media (min-width: 1000px) {
  .recipes-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .recipes-cards li:nth-of-type(12n + 2),
  .recipes-cards li:nth-of-type(12n + 7) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
