.hero {
  position: relative;
  z-index: 1;
  margin-top: -28px;
  padding: 70px 20px 40px;
  color: var(--color-text-contrast);
  text-align: center;
  background-color: var(--color-main-900);
  background-image: url('./hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.hero svg {
  display: block;
  width: 46px;
  height: 50px;
  margin: 0 auto 12px;
}

.about {
  box-sizing: border-box;
  max-width: 950px;
  margin: -28px auto 0;
  padding: 48px 35px 20px;
  background-color: var(--color-gray-200);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.recipes {
  padding: 30px 20px 25px;
}

.recipes__cards {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recipes__cards li:not(:last-of-type) {
  margin-bottom: 25px;
}
