.navigation {
  color: var(--color-text-contrast);
}

.navigation__button.icon-button {
  position: relative;
  width: 40px;
  height: 40px;
  color: var(--color-main-100);
  z-index: 1;
}

.navigation__button:active {
  opacity: 0.7;
}

.navigation__button:hover {
  color: var(--color-main-200);
  cursor: pointer;
}

.navigation__nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-main-900);
}

